# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
.idea/vcs.xml
.idea/workspace.xml
.idea/discord.xml
.idea/libraries/Maven__com_github_retrooper_packetevents_api_2_0_3fd2b883de_1.xml
.idea/libraries/Maven__com_github_retrooper_packetevents_spigot_2_0_29fe12ef57_1.xml
.idea/libraries/Maven__com_google_code_gson_gson_2_8_0.xml
.idea/libraries/Maven__net_kyori_adventure_api_4_10_1.xml
.idea/libraries/Maven__net_kyori_adventure_nbt_4_10_1.xml
.idea/libraries/Maven__net_kyori_adventure_key_4_10_1.xml
.idea/libraries/Maven__net_kyori_adventure_text_serializer_gson_4_10_1.xml
.idea/libraries/Maven__net_kyori_adventure_text_serializer_legacy_4_10_1.xml
.idea/libraries/Maven__net_kyori_examination_api_1_3_0.xml
.idea/libraries/Maven__net_kyori_examination_string_1_3_0.xml
.idea/libraries/Maven__org_atteo_classindex_classindex_3_9.xml
.idea/libraries/Maven__org_github_spigot_1_8_8_1_8_8.xml
.idea/libraries/Maven__org_jetbrains_annotations_23_0_0.xml
.idea/modules.xml
Annunaki.iml
.idea/libraries/Maven__org_projectlombok_lombok_1_18_24.xml
.idea/misc.xml
Annunaki.iml
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/classes/META-INF/services/fr.salers.annunaki.check.Check
target/classes/checks.yml
.idea/compiler.xml
.idea/compiler.xml
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/classes/META-INF/services/fr.salers.annunaki.check.Check
target/classes/checks.yml
.idea/jarRepositories.xml
target/classes/config.yml
target/classes/META-INF/services/fr.salers.annunaki.check.Check
